<h1>Top restaurants <%= "â­" * 5 %></h1>
<% @restaurants.each do |restaurant| %>
  <%= render restaurant %>
  <%= link_to "Show this restaurant", restaurant %>
<% end %>
<%= link_to "Back to all restaurants", restaurants_path %>
